/* CSS Document */
*{margin:0;padding:0;}

body{ 
	background:#F1F2F2;
	position: relative;
	font-family:'Helvetica Neue';

}
/*@font-face {*/
/*    font-family: 'sfns_displayultralight';*/
/*    src: url('../fonts/system_san_francisco_display_ultralight-webfont.eot');*/
/*    src: url('../fonts/system_san_francisco_display_ultralight-webfont.eot?#iefix') format('embedded-opentype'),*/
/*         url('../fonts/system_san_francisco_display_ultralight-webfont.woff2') format('woff2'),*/
/*         url('../fonts/system_san_francisco_display_ultralight-webfont.woff') format('woff'),*/
/*         url('../fonts/system_san_francisco_display_ultralight-webfont.ttf') format('truetype'),*/
/*         url('../fonts/system_san_francisco_display_ultralight-webfont.svg#sfns_displayultralight') format('svg');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/**/
/*}*/
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/l/font?kit=r3oQQBWBLofdqMg7Xagtpukn7qDDuAVK7kqCswEw3Og&skey=94b5a6be98cdd9eb) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/l/font?kit=r3oQQBWBLofdqMg7XagtpjVjFf_syfVex_PtjVjKcSY&skey=94b5a6be98cdd9eb) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}/* latin-ext */
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/l/font?kit=Lx1xfUTR4qFjwg0Z_pb900Q90xoKUepHWm8RyuRsBDk&skey=4ad46dd97873f7d7) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/l/font?kit=Lx1xfUTR4qFjwg0Z_pb902lgtcQKNFrDLaxj-COrDO0&skey=4ad46dd97873f7d7) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/l/font?kit=r3oQQBWBLofdqMg7XagtpntU6JjveXVVMXku74YzDgs&skey=ba59c4fdb0ab3b35) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/l/font?kit=r3oQQBWBLofdqMg7Xagtpo-jif12_EhGDy_Tj7lcXrA&skey=ba59c4fdb0ab3b35) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.more_text.col-sm-12 > a {
    font-weight: bolder;
    color:#9b9b9b !important;
    font-size: 17px;
}

.logo > a {
    color: #ffffff;
    display: inline-block;
    font-size: 50px;
    font-weight: bolder;
    margin-left: -20px !important;
    text-decoration: none;
}
.common{float:left;width:100%;}
/*.search input {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: -moz-use-text-color -moz-use-text-color #9b9b9b;
  border-image: none;
  border-radius: 0;
  border-style: none none solid;
  border-width: 0 0 1px;
  box-shadow: none;
  font-size: 17px;
  font-weight: bold;
  height: inherit;
  padding-bottom: 0;
   padding-top: 0;
  text-align: center;
  box-shadow: none !important;
    height: 36px;
    text-align: left;
}*/
.search .form-control::placeholder {color: #9b9b9b;}
.search_result .logo {background-color: #6f00ff;text-align: center;padding:15px;}
.search_result .logo > a {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}
.search > span {opacity: 0;}
.logo{float:left;}
.gutius_image {padding: 20px 0;}
/*.more {font-size: 25px;text-align: right;background-color: #F2F2F2;padding: 10px 0;position:fixed;bottom:0;}*/
.search-content {padding: 200px 0 0;}
.search_result {padding: 0;}
li {list-style: outside none none;}
.search_result_text {padding: 25px 15px 0;}
.result_data a label {cursor: pointer;}
.search_three {padding: 20px 0;}
.search_result .search input {border: 0 none;text-align: left;box-shadow: none;}
.search_result_border {border-bottom: 1px solid #6f00ff;float: left;width: 100%;}
.col-sm-10.result_search {padding: 15px;}
.result_data_nav > li {
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  margin-right: 70px;
}
.result_data_nav > li:last-child{margin-right:0;}
.result_data_nav > li > a{color:#9b9b9b;}
.result_data_nav li.active > a label {
  color: #6f00ff;
  text-decoration: underline;
}
.nav_text label {
  color: #6f00ff;
  font-size: 20px;
}
.nav_text p {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
.search-content form .input-group.search {
  float: left;
  width: 100%;
}
.search-content form {
  float: left;
  width: 100%;
}
.search .btn.btn-default {
  background: none repeat scroll 0 0 #CCFF00;
  border: medium none;
  border-radius:initial;
  color: #5C5C5C;
  cursor: auto;
  height:38px;
  width:92px;
  font-size:15px;
  font-weight:300;
  margin-left: 3px;
  /* visibility:hidden !important; */
}
.search-text{
	position: relative;
    float: left;
	width:385px;
}
.search-text .form-control{
	height: 38px;
    border: 0px;
}
@media (max-width:480px){
.search_result .logo {width: 100%;float:left;}
.result_search {float: left;width: 100%;}
}



tr td ul li small font{display :none;}
dt small{display:none;}
dl dt a {
    color: #609 !important;
    font-size: 20px;
    text-decoration: none;
    font-weight: 200 !important;
}
dl dt a span {
    color: #609 !important;
    font-size: 20px !important;
    text-decoration: none !important;
	background:transparent !important;
    font-weight: 200 !important;
}
dl dd span {
    color: #797979 !important;
    text-decoration: none !important;
	background:transparent !important;
    font-weight: 600 !important;
}
dd {
    float: left;
    margin: 0;
    width: 100%;
}
dd ul {padding:0px;}
dl {
    float: left;
    margin: 18px 0 0 105px;
}

dd table {
    width: 100% !important;
}

dt {
    color: #fff;
}
dd * {
    font-size: 15px !important;
    margin-top: 5px !important;
    color: #797979;
    font-weight: 200;
    letter-spacing: 2;
}
dd tbody tr:last-child{display:none;} 

.page_go{
    width:100%;
    float:left;
    text-align:center;
    background: #fff;
    padding: 50px 0;
}

.page_go a {
    color: #000000;
    font-weight: 300;
    font-size: 25px;
    position: relative;
    text-decoration: none;
    padding-right: 4px;
    z-index: 9;
}
.page_go a:visited{
    color:#9b9b9b;
}

.results{float:left; background:#fff !important;}
/*.form-control:focus {border-color: #6f00ff;}*/


/*more_page*/

.new {
	margin-top:6%;
    float: left;
    width: 100%;
}
.one {
    float: left;
    width: 100%;
	 margin-bottom: 6%;
}
.two {
    float: left;
    width: 100%;
	 margin-bottom: 6%;
}
.three { 
    float: left;
    width: 100%;
	 margin-bottom: 6%;
}
.margin {
  margin: 0 auto;
  width: 60%;
}
.heading {
  color: black;
  	margin-bottom:2%;
  font-size: 25px;
  line-height: 25px;
}
.one_1 {
  float: left;
  text-align: left;
  width: 100%;
}
.two_1{
  float: left;
  text-align: right;
  width: 100%;
}
.three_1 {
  float: left;
  text-align: left;
  width: 100%;
}
.content {
  float: left;
  margin-top: 10px !important;
  width: 100%;
  color:white;
}
.custom {
  font-size: 26px;
  margin-top: 3px;
  position: absolute;
  z-index: 999999;
  color:#6f00ff;
  right:6px;
}
.results dl{width:48%;}
.voffset { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.text-center {
	text-align: center;
}
.mother{
	font-size: 19px;;
    color: white;

}
.header-menu{
	list-style-type: none;
    padding: 8px 30px;
	float:left;
	font-size:15px;
	font-weight:100;
}

.header-menu li {
	display:inline;
	margin-right:25px;
	
}
.header-menu li a {
    position:relative;
    z-index:10;
    color: white;
	text-decoration: none;
    font-weight:200;
    letter-spacing:1px;
}
.center-text{
	width:477px;
}
h1, h2, h3, p, h4, .word h1 {
	font-family: "Helvetica Neue", sans-serif;
	font-style: normal; 
	line-height: 1.4;
}
h1 {
	font-size: 21px;
	color: #5C5C5C;
	margin:0;
    font-weight:200;
}
h2 {
	font-size: 33.86px;
	color: #393939;
}
h3 {
	font-size: 20px;
	color: #5C5C5C;
}
h4 {
	font-size: 18px;
	color: #5C5C5C;
}
p {
	font-size: 20px;
	color: #535353;
}
.title h1{
    font-size: 40px;
	font-weight:800;
	color: #5C5C5C;
    line-height:1;
	padding-right:15px;

}
.form-control{
	border-radius:initial;
}
.link{
    width: 100%;
	background:#4a4a4a;
	height:38px;
}

.below-button{
	position:absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
}
.below{
	border:0px;
	background-color:#F7F7F7;
	outline: none;
}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 800px) {

   h1 {
      font-size: 25px;
   }

   h2 {
      font-size: 27px;
   }
   h3{
	  font-size: 17px; 
   }
   h4 {
	font-size: 16px;
   }
   p {
	  font-size: 17px;
   }
   .word h1{
		font-size: 80px;	
   }

   .header-menu{
		font-size:13px;
	}
	
	.voffset { margin-top: 2px; }
	.voffset1 { margin-top: 5px; }
	.voffset2 { margin-top: 8px; }
	.voffset3 { margin-top: 12px; }
	.voffset4 { margin-top: 24px; }
	.voffset5 { margin-top: 32px; }
	.voffset6 { margin-top: 50px; }
	.voffset7 { margin-top: 70px; }
	.voffset8 { margin-top: 90px; }
	.voffset9 { margin-top: 120px; }
}
@media only screen and (max-width: 500px) {

   h1 {
      font-size: 18px;
   }

   h2 {
      font-size: 19px;
   }
   h3{
	  font-size: 11px; 
   }
   h4 {
	  font-size: 10px;
   }
   p{
	  font-size: 11px;
   }
   .word h1{
		font-size: 60px;	
   }
   .header-menu{
	font-size:12px;
   }
   
	.voffset { margin-top: 2px; }
	.voffset1 { margin-top: 5px; }
	.voffset2 { margin-top: 8px; }
	.voffset3 { margin-top: 12px; }
	.voffset4 { margin-top: 24px; }
	.voffset5 { margin-top: 32px; }
	.voffset6 { margin-top: 50px; }
	.voffset7 { margin-top: 70px; }
	.voffset8 { margin-top: 90px; }
	.voffset9 { margin-top: 90px; }
}
@media only screen and (max-width: 450px) {

   h1 {
      font-size: 15px;
   }

   h2 {
      font-size: 16px;
   }
   h3{
	  font-size: 9px; 
   }
   h4 {
	  font-size: 8px;
   }
   p{
	  font-size: 9px;
   }
   .word h1{
		font-size: 30px;	
   }
   .header-menu{
		font-size:10px;
   }
}

#start-form {
	position: relative;
    margin-top:-38px;
}

#start-form .word h1 {
	margin: 0;
}
/*#start-form input[type=submit] {*/
/*	display: none;*/
/*}*/

#start-form .form-container {
	top: 55%;
	margin-top: -160px;
	left: 50%;
	transform: translate(-50%);
}

/*.container img {*/
/*	max-width: 90%;*/
/*}*/
.center-img img{
	width:461px;
	height:585px;
}
.center-img{
	position:relative;
	float:left;
	text-align:center;
	width:44%;
}
.right-text{
	position:relative;
	float:right;
	border-left:1px solid black;
	height:129px;
	width:28%;
	padding-left:28px;
	font-size:21px;
}
.right-text h1{
    font-weight:300;
}
.right-text p{
    font-weight:200;
}
.left-text{
	position:relative;
	float:left;
	border-right:1px solid black;
	height:180px;
	text-align:right;
	width:28%;
	padding-right:28px;
	margin-top:125px;
    font-size:21px;
}
.left-text h1{
    font-weight:300;
}
.left-text p{
    font-weight:200;
}
.bottom-text1, .bottom-text2, .bottom-text3{
	text-align:center;
}
.bottom-text1 h1{
	font-size:35px;
	padding-top:90px;
	line-height:4;
}
.bottom-text2 h1{
	font-family: "Helvetica Neue";
	font-style: normal;
	font-size:21px;
    font-weight:200;
}
.bottom-text1-title{
	border-top:1px solid #9B9B9B;
}
.bottom-text3 h1{
	font-size:21px;
	color:red;
	line-height:5;
}
.bottom-link{
	margin:0 auto;
	display:inline;
}
.bottom-link li{
    position:relative;
    float:left;
    font-weight: 400;
    color: #5C5C5C;
    padding-left:5px;
    margin-top: 45px;
}
.bottom-link li a{
    color:#9B9B9B;
}
.footer-mother{
    margin-right: 50px;
    float: right;
    margin-top: 22px;
    /* margin-bottom: 0px; */
    font-size: 40px;
    font-weight: bold;
    color: #9b9b9b;
}

.header-wrapper{
	height:121px;
}
.header-search{
	height:83px;
}
/*.form-group{*/
/*	padding-top: 20px;*/
/*    padding-left: 120px;*/
/*}*/
.form-group-sub{
	padding-top: 12px;
    padding-left: 120px;
}
.content-wrapper{
	width:70%;
    margin-left: 114px;
}
.content-text{
	margin:0 auto;
//	border-bottom:1px solid #9B9B9B;
//	padding-bottom:45px;
}
.content-text h1{
	font-size:25px;
	padding-top: 70px;
    padding-bottom: 40px;
    font-weight:400;
}
.content-text h2{
	font-size:21px;
	padding-top: 20px;
    padding-bottom: 10px;
    font-weight:400;
}
.content-text p{
	font-size:15px;
    font-weight:300;
    line-height:1.2;
    letter-spacing:0.8px;
}
.sensible li{
	margin-left:15px;
}
.bottom-blank{
	height:180px;
}
.search-bottom-space{
    height:400px;
}
.header-text {
	position:absolute;
    margin: 13px 0px 0 22px;
}
.header-text h1{
    position:relative;
    font-size:28px;
    font-weight:bold;
    z-index:9;
}
.last{
	font-size:40px;
	color:#9b9b9b;
	font-weight:bold;
	margin-left:130px;
}

.bottom-section{
    clear: both;
    padding-left:50px;
    height:100px;
}

.results_section{

}